<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="flex-wrapper col center full-height full-width">
            <div class="flex-wrapper col space-around" id="login-window">
                <div class="flex-wrapper row center">
                    <div class="login title">Welcome</div>
                </div>
                <div class="flex-wrapper row center">
                    <div class="flex-wrapper row">
                        <label class="login lbl" id="lbl_email" for="ipt_email">Email</label>
                        <input class="login ipt" id="ipt_email" type="email"/>
                    </div>
                </div>
                <div class="flex-wrapper row center">
                    <div class="flex-wrapper row">
                        <label class="login lbl" id="lbl_password" for="ipt_password">Password</label>
                        <input class="login ipt" id="ipt_password" type="password"/>
                    </div>
                </div>
                <div class="flex-wrapper row center">
                    <button class="login btn" id= "btn_login" type="button">Login</button>
                </div>
            </div>
        </div>
        <script src="js/login.js"></script>
    </body>
</html>