* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1em;
  width: 100%;
  height: 100%;
  background-color: #6A50A7;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrapper.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrapper.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrapper.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-wrapper.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrapper.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-wrapper.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-wrapper.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-wrapper.secondary-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrapper.full-height {
  height: 100%;
}

.flex-wrapper.full-width {
  width: 100%;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
}

.grid-wrapper.col-num-1 {
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.grid-wrapper.col-num-2 {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.grid-wrapper.col-num-3 {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.grid-wrapper.col-num-4 {
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.grid-wrapper.col-num-5 {
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
}

.grid-wrapper.col-num-6 {
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
}

.grid-wrapper.col-num-7 {
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-wrapper.col-num-8 {
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
}

.grid-wrapper.col-gap-p2 {
  grid-column-gap: 0.2em;
}

.grid-wrapper.col-gap-p5 {
  grid-column-gap: 0.5em;
}

.grid-wrapper.col-gap-1 {
  grid-column-gap: 1em;
}

.grid-wrapper.col-gap-2 {
  grid-column-gap: 2em;
}

.grid-wrapper.col-gap-3 {
  grid-column-gap: 3em;
}

.grid-wrapper.col-gap-7 {
  grid-column-gap: 7em;
}

.grid-wrapper.row-gap-p2 {
  grid-row-gap: 0.2em;
}

.grid-wrapper.row-gap-p5 {
  grid-row-gap: 0.5em;
}

.grid-wrapper.row-gap-1 {
  grid-row-gap: 1em;
}

.grid-wrapper.row-gap-2 {
  grid-row-gap: 2em;
}

.grid-wrapper.row-gap-3 {
  grid-row-gap: 3em;
}

.grid-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  width: 6em;
  padding: 1em;
  color: #C4B9DE;
  background-color: #4D3A78;
}

.grid-heading.create-button-inside {
  background-color: #6A50A7;
  padding: 0em;
}

.grid-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  font-weight: 400;
  width: 6em;
  padding: 0.3em;
  background-color: #C4B9DE;
}

.grid-cell.update-button-inside {
  background-color: #6A50A7;
  padding: 0em;
}

.login-form {
  color: #6A50A7;
  background-color: #C4B9DE;
}

.login-form.title {
  font-size: 1.3em;
}

.login-form.lbl {
  font-size: 1.2em;
  width: 6em;
}

.login-form.ipt {
  font-size: 1.2em;
  width: 10em;
  padding-left: 0.5em;
  background-color: #D9D6E2;
  border: solid 2px #C4B9DE;
}

.login-form.ipt:hover {
  background-color: #E8E6ED;
}

.login-form.ipt:focus {
  background-color: #E8E6ED;
  outline: solid 2px #8F7AC1;
}

.login-form.btn {
  font-size: 1em;
  font-weight: 500;
  color: #E8E6ED;
  background-color: #755BB1;
  border: solid 1px #755BB1;
  width: 5.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.login-form.btn:hover {
  outline: solid 1px #4D3A78;
  border: solid 1px #4D3A78;
}

.login-form.btn:focus {
  outline: solid 1px #4D3A78;
  border: solid 1px #4D3A78;
}

.login-form.btn:active {
  outline: solid 1px #4D3A78;
  border: solid 1px #4D3A78;
}

.login-form.window {
  width: 25em;
  height: 15em;
}

#nav {
  padding: 0.2em;
  height: 3em;
}

.nav-link {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-decoration: none;
  background-color: #C4B9DE;
  color: #6A50A7;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border: #6A50A7 0.2em ridge;
}

.nav-link:hover {
  text-decoration: none;
}

#view {
  height: calc(100%-3em);
  padding: 0.2em;
  border-top: #4D3A78 solid 1px;
  border-bottom: #4D3A78 solid 1px;
}

#list {
  width: 100%;
}

#search {
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  font-size: 1.5em;
}

#search label {
  padding-right: 2em;
  color: #C4B9DE;
}

#search input {
  padding-right: 15em;
  background-color: #E8E6ED;
}

.add-qty {
  margin-right: 1em;
  background-color: #C4B9DE;
  color: #6A50A7;
  border-color: #6A50A7;
}

.subtract-qty {
  margin-left: 1em;
  background-color: #C4B9DE;
  color: #6A50A7;
  border-color: #6A50A7;
}

#create-new-record {
  font-size: 2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #C4B9DE;
  background-color: #755BB1;
  border-color: #6A50A7;
}

.update-record {
  font-size: 1.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #C4B9DE;
  background-color: #755BB1;
  border-color: #6A50A7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 80%;
  border: solid 2px #4D3A78;
}

.modal-header {
  padding: 1em;
  font-size: 1.5em;
  width: 100%;
  height: 15%;
  color: #E8E6ED;
  background-color: #755BB1;
}

.modal-content {
  padding: 1em;
  width: 100%;
  height: 85%;
  color: #6A50A7;
  background-color: #C4B9DE;
}

.modal-btn-close {
  font-size: 2em;
}

.modal-btn-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.record-entry-wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 13% 13% auto auto 8%;
      grid-template-columns: 8% 13% 13% auto auto 8%;
  -ms-grid-rows: 8% auto auto auto auto auto 8%;
      grid-template-rows: 8% auto auto auto auto auto 8%;
}

.record {
  font-size: 1.2em;
}

.record.picture {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  border: solid black 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.record.btn-upload {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  border: solid black 2px;
}

.record.id {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  border: solid black 2px;
}

.record.type {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  border: solid black 2px;
}

.record.name {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  border: solid black 2px;
}

.record.qty {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  border: solid black 2px;
}

.record.btns {
  font-size: 1.2em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  border: solid black 2px;
}

.record > .flex-wrapper > .label {
  text-align: center;
  width: 25%;
}

.record > .flex-wrapper > .entry {
  width: 65%;
}

.record > .flex-wrapper > button {
  font-size: 1.1em;
}

.record > .flex-wrapper > input {
  font-size: 1.2em;
}

.entry.pic {
  display: block;
  width: auto;
  max-height: 25vh;
}
/*# sourceMappingURL=style.css.map */