$base-font-size:1em;
$login-window-color:#7A4A91;
$login-window-font-color:white;

html
{
    width:100%;
    height:100%;
}

body
{
    font-size:$base-font-size;
    width:100%;
    height:100%;
}

.flex-wrapper
{
    display:flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.center{
        justify-content: center;
    }
    &.space-between{
        justify-content: space-between;
    }
    &.space-around{
        justify-content: space-around;
    }
    &.flex-start{
        justify-content: flex-start;
    }
    &.flex-end{
        justify-content: flex-end;
    }
    &.secondary-center{
        align-items: center;
    }
    &.full-height{
        height:100%;
    }
    &.full-width{
        width:100%;
    }
}

.grid-wrapper{
    display:grid;
    &.col-num-1{
        grid-template-columns:auto;
    }
    &.col-num-2{
        grid-template-columns:auto auto;
    }
    &.col-num-3{
        grid-template-columns:auto auto auto;
    }
    &.col-num-4{
        grid-template-columns:auto auto auto auto;
    }
    &.col-num-5{
        grid-template-columns:auto auto auto auto auto;
    }
    &.col-num-6{
        grid-template-columns:auto auto auto auto auto auto;
    }
    &.col-num-7{
        grid-template-columns:auto auto auto auto auto auto auto;
    }
    &.col-num-8{
        grid-template-columns:auto auto auto auto auto auto auto auto;
    }
    &.col-gap-p2{
        grid-column-gap:0.2em;
    }
    &.col-gap-p5{
        grid-column-gap:0.5em;
    }
    &.col-gap-1{
        grid-column-gap:1em;
    }
    &.col-gap-2{
        grid-column-gap:2em;
    }
    &.col-gap-3{
        grid-column-gap:3em;
    }
    &.row-gap-p2{
        grid-row-gap:0.2em;
    }
    &.row-gap-p5{
        grid-row-gap:0.5em;
    }
    &.row-gap-1{
        grid-row-gap:1em;
    }
    &.row-gap-2{
        grid-row-gap:2em;
    }
    &.row-gap-3{
        grid-row-gap:3em;
    }
}

.grid-heading{
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.grid-cell{
    font-size: 1.2em;
    font-weight: 400;
}

.login-form{
    &.lbl{
        width:6em;
    }
    &.ipt{
        width:10em;
    }
    &.btn{
        width:4em;
    }
}

#login-window
{
    width: 20em;
    height: 15em;
    color:$login-window-font-color;
    background-color: $login-window-color;
}

#nav
{
    padding:0.2em;
    height:3em;
}

.nav-link {
    padding-right:0.5em;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

#view{
    height:calc(100%-3em);
    padding:0.2em;
    border-top:black solid 1px;
    border-bottom:black solid 1px;
}

#list{
    width:100%;
}

