$base-font-size:1em;
$login-window-color:#C4B9DE;
$login-window-font-color:#6A50A7;
$login-input-box-color:#D9D6E2;
$login-input-box-active-color:#E8E6ED;
$login-input-box-border-color:#8F7AC1;
$login-button-color:#755BB1;
$login-button-font-color:#E8E6ED;
$login-button-border-color:#4D3A78;
$background-color: #6A50A7;


*
{
    box-sizing: border-box;
}

html
{   
    width:100%;
    height:100%;
}

body
{
    font-size:$base-font-size;
    width:100%;
    height:100%;
	background-color: $background-color;
}

.flex-wrapper
{
    display:flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.center{
        justify-content: center;
    }
    &.space-between{
        justify-content: space-between;
    }
    &.space-around{
        justify-content: space-around;
    }
    &.flex-start{
        justify-content: flex-start;
    }
    &.flex-end{
        justify-content: flex-end;
    }
    &.secondary-center{
        align-items: center;
    }
    &.full-height{
        height:100%;
    }
    &.full-width{
        width:100%;
    }
}

.grid-wrapper{
    display:grid;
    &.col-num-1{
        grid-template-columns:auto;
    }
    &.col-num-2{
        grid-template-columns:auto auto;
    }
    &.col-num-3{
        grid-template-columns:auto auto auto;
    }
    &.col-num-4{
        grid-template-columns:auto auto auto auto;
    }
    &.col-num-5{
        grid-template-columns:auto auto auto auto auto;
    }
    &.col-num-6{
        grid-template-columns:auto auto auto auto auto auto;
    }
    &.col-num-7{
        grid-template-columns:auto auto auto auto auto auto auto;
    }
    &.col-num-8{
        grid-template-columns:auto auto auto auto auto auto auto auto;
    }
    &.col-gap-p2{
        grid-column-gap:0.2em;
    }
    &.col-gap-p5{
        grid-column-gap:0.5em;
    }
    &.col-gap-1{
        grid-column-gap:1em;
    }
    &.col-gap-2{
        grid-column-gap:2em;
    }
    &.col-gap-3{
        grid-column-gap:3em;
    }
    &.col-gap-7 {
        grid-column-gap: 7em;
    }
    &.row-gap-p2{
        grid-row-gap:0.2em;
    }
    &.row-gap-p5{
        grid-row-gap:0.5em;
    }
    &.row-gap-1{
        grid-row-gap:1em;
    }
    &.row-gap-2{
        grid-row-gap:2em;
    }
    &.row-gap-3{
        grid-row-gap:3em;
    }
}

.grid-heading {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    width:6em;
    padding: 1em;
    color: $login-window-color;
    background-color: $login-button-border-color;
    &.create-button-inside {
        background-color: $background-color;
        padding: 0em;
    }
} 

.grid-cell{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
    width:6em;
    padding: 0.3em;
    background-color: $login-window-color;
    &.delete-button-inside {
        background-color: $background-color;
        padding: 0em;
    }
}

.login-form{
    color:$login-window-font-color;
    background-color: $login-window-color;
    &.title{
        font-size:1.3em;
    }
    &.lbl{
        font-size:1.2em;
        width:6em;
    }
    &.ipt{
        font-size:1.2em;
        width:10em;
        padding-left:0.5em;
        background-color: $login-input-box-color;
        border:solid 2px $login-window-color;
        &:hover{
            background-color: $login-input-box-active-color;
        }
        &:focus{
            background-color: $login-input-box-active-color;
            outline: solid 2px $login-input-box-border-color;
        }
    }
    &.btn{
        font-size:1em;
        font-weight: 500;
        color:$login-button-font-color;
        background-color: $login-button-color;
        border:solid 1px $login-button-color;
        width:5.5em;
        padding-top:0.4em;
        padding-bottom: 0.4em;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        &:hover{
            outline: solid 1px $login-button-border-color;
            border:solid 1px $login-button-border-color;
        }
        &:focus{
            outline: solid 1px $login-button-border-color;
            border:solid 1px $login-button-border-color;
        }
        &:active{
            outline: solid 1px $login-button-border-color;
            border:solid 1px $login-button-border-color;
        }
    }
    &.window{
        width: 25em;
        height: 15em;
    }
}

#nav
{
    padding:0.2em;
    height:3em;
}

.nav-link {
    padding-right:0.5em;
    padding-left: 0.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    background-color: $login-window-color;
    color: $login-window-font-color;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: $login-window-font-color 0.2em ridge;
}

#view {
    height:calc(100%-3em);
    padding:0.2em;
    border-top: $login-button-border-color solid 1px;
    border-bottom: $login-button-border-color solid 1px;
}

#list {
    width:100%;
}

#search {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    label {
        padding-right: 2em;
        color: $login-window-color;
    }
    input {
        padding-right: 15em;
        background-color: $login-input-box-active-color;
    }
    font-size: 1.5em;
}

.add-qty {
    margin-right: 1em;
    background-color: $login-window-color;
    color: $login-window-font-color;
    border-color: $login-window-font-color;
}

.subtract-qty {
    margin-left: 1em;
    background-color: $login-window-color;
    color: $login-window-font-color;
    border-color: $login-window-font-color;
}

#create-new-record {
    font-size: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: $login-button-color;
    border-color: $login-window-font-color;
}

.delete-record{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: $login-button-color;
    border-color: $login-window-font-color;
}

.modal{
    display: none;
    position:fixed;
    z-index:1;
    left:20%;
    top:20%;
    width:60%;
    height:60%;
    border: solid 2px $login-button-border-color;
}

.modal-header{
    padding:1em;
    font-size:1.5em;
    width:100%;
    height:15%;
    color:$login-button-font-color;
    background-color: $login-button-color;
}

.modal-content{
    padding:1em;
    width:100%;
    height:85%;
    color:$login-window-font-color;
    background-color: $login-window-color;
}

.modal-btn-close{
    font-size:2em;
    &:hover{
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.record-entry-wrapper
{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 8% 13% 13% auto auto 8%;
    grid-template-rows: 8% auto auto auto auto auto 8%;
}

.record
{
    font-size:1.2em;
    border: solid black 0.1em;
    background-color: $background-color;
    &.picture{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    &.btn-upload{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    &.id{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &.type{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &.name{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &.qty{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    &.btns{
        font-size:1.2em;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}
.record>.flex-wrapper>.label{
    text-align: center;
    width:25%;
}
.record>.flex-wrapper>.entry{
    width:65%;
}
.record>.flex-wrapper>button{
    font-size:1.1em;
}
.record>.flex-wrapper>input{
    font-size:1.2em;
}

